* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(121, 28, 157, 1) 0%,
    rgba(36, 88, 183, 1) 35%,
    rgba(16, 157, 149, 1) 100%
  );
}


h1 {
  color: blueviolet;
  font-family: cursive;
}


img {
  width: 200px;
}

.logo {
  color: coral;
  font-size: 2rem;
  padding: 1rem;
  & span {
    color: turquoise;
   
  }
}

.card{
  background-color: aquamarine;
  margin-right:20px;
  border-radius: 1rem;
  padding: 1rem;
}

.section-div {
  display: flex !important;
}
.lesson {
  font-style: 1.5rem;
  color: coral;
  & span {
    color: magenta;
  }
}